version: 2
image_name: starter
container_image: null
apis:
- inference
- agents
- safety
- vector_io
- files
- tool_runtime
providers:
  inference:
  - provider_id: vllm
    provider_type: remote::vllm
    config:
      base_url: http://localhost:8000/v1
    module: null
  agents:
  - provider_id: meta-reference
    provider_type: inline::meta-reference
    config:
      persistence:
        agent_state:
          namespace: agents
          backend: kv_default
        responses:
          table_name: responses
          backend: sql_default
          max_write_queue_size: 10000
          num_writers: 4
  files:
  - provider_id: meta-reference-files
    provider_type: inline::localfs
    config:
      storage_dir: ${env.FILES_STORAGE_DIR:=~/.llama/crimson/files}
      metadata_store:
        table_name: files_metadata
        backend: sql_default
storage:
  backends:
    kv_default:
      type: kv_sqlite
      db_path: ${env.SQLITE_STORE_DIR:=~/.llama/distributions/starter}/kvstore.db
    sql_default:
      type: sql_sqlite
      db_path: ${env.SQLITE_STORE_DIR:=~/.llama/distributions/starter}/sql_store.db
  stores:
    metadata:
      namespace: registry
      backend: kv_default
    inference:
      table_name: inference_store
      backend: sql_default
      max_write_queue_size: 10000
      num_writers: 4
    conversations:
      table_name: openai_conversations
      backend: sql_default
    prompts:
      namespace: prompts
      backend: kv_default
models:
- model_id: openai/gpt-oss-20b
  model_type: llm
  provider_id: vllm
- model_id: openai/gpt-oss-120b
  model_type: llm
  provider_id: vllm
shields: []
vector_dbs: []
datasets: []
scoring_fns: []
benchmarks: []
tool_groups: []
logging: null
server:
  port: 8321
  auth: null
  tls_certfile: null
  tls_keyfile: null
  tls_cafile: null
  host: null
  quota: null
  cors: null